.landscape{
    display: none;
}
.portrait{
    opacity: 100%;
}
.portraitON{
    display: block;
}
.caixaElementoA, .caixaElementoB{
 width: 100%;
}
.mask{
    margin-top: -40px;
}
#aku{
    margin-left: -40px;
}
#uka{
    margin-right: -30px;
}
.caixaElementoA{
    flex-direction: column-reverse;
}
.caixaElementoB{
    flex-direction: column;
}
.elementoImagem{
    width: 100%;
}
.elementoTexto{
    text-align: center;
    width: 100%;
}
.justificaMobile{
    text-align: justify;
    width: 100%;
}
#postagens{
    margin-left: 0px;
}
.imagemGaleria{
    margin-top: 53.6px;
    height: calc(100vh - 149.6px);
    background-size: cover;
}
.espacoP{
    display: none;
}
.caroussel-inner{
    background-color: black;
}
#bonus{
    top: 90px;
    animation: mostra 2s infinite steps(6);
    left: calc(50vw - 220px);
    background-size: 400px;
    height: 88px;
}
  
@keyframes mostra {
    0%{
        width: 0px;
    }
    100%{
        width: 480px;
    }
}
#popupLogin{
    height: 80vh;
    width: 90%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 150px;
    left: 3%;
}
#tudo{
    width: 90%;
  }
.fundo{
    width: 90vw;
}
.caixaForum{
    width: 350px;
    margin: 0 auto;
}
.justify-content-end{
    margin-left: -40px;
}
#forum fieldset{
    margin: 0 auto;
    padding: 0;
    width: 400px;
}
#caixaBtns{
    margin: 48px -40px;
    padding: 0;
}
.caixa{
    width: 100%;
}
#aparece{
    max-height:50vh;
}