.landscape{
    display: none;
}
.portrait{
    opacity: 100%;
}
.portraitON{
    display: block;
}
.mask{
    margin-top: -40px;
}
#aku{
    margin-left: -40px;
}
#uka{
    margin-right: -30px;
}
.caixaElementoA{
    flex-direction: column-reverse;
}
.caixaElementoB{
    flex-direction: column;
}
.elementoImagem{
    width: 100%;
}
.elementoTexto{
    text-align: center;
    width: 100%;
}
.justificaMobile{
    text-align: justify;
    width: 100%;
}
#postagens{
    margin-left: 0px;
}
.imagemGaleria{
    margin-top: 53.6px;
    height: calc(100vh - 149.6px);
    background-size: cover;
}
.espacoP{
    display: none;
}
.caroussel-inner{
    background-color: black;
}