#menuzinho{
    left: auto;
    right: 15%;
}
#menuzinho li a:hover{
    background-color: rgb(66, 66, 66);
    color: white;
}
.portrait{
  opacity:0%;
}
.portraitON{
  display: none;
}
.espaco{
    width: 100%;
    height: 50px;
}
.espacoP{
  width: 100%;
  height: 15px;
}
.espacoG{
    width: 100%;
    height: 100px;
}
.caixa{
  width: 100%;
}
#meio{
    margin: 0 auto;
    height: 0px;
    width: 80%;
}

.mask {
    width: 95px;
    height: 125px;
    background-size: cover;
  }
  @keyframes dance {
    0% {
      transform: translateY(0px);
    }
    16% {
      transform: translateY(5px);
    }
    33% {
      transform: translateY(5px) translateX(5px);
    }
    50% {
      transform: translateY(0px) translateX(5px);
    }
    66% {
      transform: translateY(5px) translateX(5px);
    }
    83% {
      transform: translateY(5px) translateX(0px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  @keyframes dance2 {
    0% {
      transform: translateY(0px);
    }
    16% {
      transform: translateY(5px);
    }
    33% {
      transform: translateY(5px) translateX(-5px);
    }
    50% {
      transform: translateY(0px) translateX(-5px);
    }
    66% {
      transform: translateY(5px) translateX(-5px);
    }
    83% {
      transform: translateY(5px) translateX(0px);
    }
    100% {
      transform: translateY(0px);
    }
  }
#aku {
  background-image: url(../images/aku2.png);
  float: left;
  animation: dance 2s infinite linear;
}
#uka {
  background-image: url(../images/uka2.png);
  float: right;
  animation: dance2 2s infinite linear;
}
.fundo{
  background-color: #212529a6;
  border: white solid 1px;
  box-shadow: 0px 0px 3px white;
  border-radius: 20px;
  min-height: 500px;
  margin-top: 35px;
  padding-top: 15px ;
}
.comentario{
  margin: 100px;
}
.forum{
  border-left: 1px white solid;
}
#postagens p{
  text-indent: 30px;
}
.alinhamentoNav{
  width: 83.5167px;
  height: 38;
  margin: 0px;
  padding: 0px;
}
.caixaElementoA, .caixaElementoB{
  width: 80%;
}
.elementoImagem{
  width: 40%;
  min-width: 300px;
  height: 400px;
  background-position: center;
  background-size: cover;
}
.elementoTexto h3{
  text-align: auto;
  width: 100%;
}
.imagemGaleria{
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: calc(90vh - 184.89px);
  margin: 0px auto;
}
.indidcadorGaleria{
  background-position: center;
  background-size: cover;
  width: 16%;             
  height: 10vh;
  margin: 0px auto;
}
.slide{
  margin-top: 56px;
}
.imgG{
  margin: 50px auto;
  height: 200px;
  width: 200px;
  background-repeat: no-repeat;
}
.ps2{
  background-position: top;
  background-size: 80%;
  background-color: black;
}
.ps4{
  background-position: center;
  background-size: 90%;
  background-color: #1355e1;
}
#bonus{
  position: relative;
  left: calc(50vw - 300px);
  background-image: url("../images-optimized/bonus2.svg");
  background-repeat: no-repeat;
  background-size: 500px;
  height: 110px;
  overflow: hidden;
  animation: mostra 2s infinite steps(6);
}

@keyframes mostra {
  0%{
      width: 0px;
  }
  100%{
      width: 600px;
  }
}
#relacionados{
  width: 30px;
  height: 30px;
  background-image: url(../images-optimized/wumpa-img.webp);
  background-size: cover;
  cursor: pointer;
}
/* POP UP PÁGINA RELACIONADOS */

#popup{
  position: absolute;
  left:-400px;
  display: flex;
  align-items: top;
  justify-content: right;
  width: 400px;
  height: 80px;
  margin-top: 100px;
  background-color: white;
  box-shadow: 5px 5px 5px rgb(0, 0, 0);
  border-radius: 0 5px 5px 0;
}
#conteudoPop{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px
}
#texto p{
  line-height: 80px;
  margin: 0 0 5px 0;
}
#ps{
  padding: 5px;
  width: 40px;
  height: 40px;
  box-shadow: 0 0 5px rgb(0, 102, 255), inset 0 0 5px rgb(0, 102, 255);
  border-radius: 100%;
  background-image: url("../images-optimized/ps4-trofeu.svg");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}
#capa{
  width: 50px;
  height: 50px;
  background-position: center;
  background-image: url("../images-optimized/crash-1.webp");
  background-size: cover;
}
#fechar{
  color: rgba(128, 128, 128, 0.418);
  margin: 5px 10px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

/* POP UP PÁGINA LOGIN*/

#popupLogin{
  height: 80vh;
  width: 40vw;
  position: absolute;
  top: 70px;
  left: 30vw;
}